<!doctype html>
<html lang="en">
  <head>
  	<title>Sidebar 05</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch ">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Tabaarak</span>
	        </button>
        </div>
				<div class="p-4 sss">
		  		<h1><a href="/" class="logo">Tabaarak <span>Travel Agency</span></a></h1>
	        <ul class="list-unstyled components mb-5 text-lg ss">
	          <li class="active">
	            <a href="/" class="h5 text-white"><span class="fa fa-home mr-3 fa-2x text-lg text-white"></span> Home</a>
	          </li>
	          <li>
	              <a href="airline" class="h5 text-white"><span class="fa fa-plane fa-2x mr-3 text-white"></span> Airline</a>
	          </li>
	          <li>
              <a href="agency" class="h5 text-white"><span class="fa fa-building fa-2x mr-3 text-white"></span> Companies</a>
	          </li>
	          <li>
              <a href="booking" class="h5 text-white"><span class="fa fa-globe fa-2x mr-3 text-white"></span> Booking</a>
	          </li>
	          <li>
              <a href="users" class="h5 text-white"><span class="fa fa-user fa-2x mr-3 text-white"></span> Users</a>
	          </li>
	          
	        </ul>
            

	        <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            
	      

	      </div>
    	</nav>

        <!-- Page Content  -->
      

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>